.boxed-btn, input[type="submit"], button[type="submit"],
 .main-menu.home-page li:hover li:hover > a,
 .slicknav_btn, 
 .slicknav_nav .slicknav_row:hover,
 .slicknav_nav a:hover, 
  .case-study-wrapper, 
  .owl-dots div.active,
  .theme-2 .case-study-wrapper::after,
  .video-play-btn,
  .cta-area.theme-3 .boxed-btn:hover {
    background-color: #c0392b;


}

    .main-menu li a:hover,
    .menu-cta h4 span,
    .home-page .menu-cta h4 span,
    .single-service-box:hover a.service-readmore-btn,
     .single-service-box:hover h3, service-icon,
     .single-service-box:hover .service-icon, .pricing-count,
      .footer-area.theme-8 .social-links li:hover a, .footer-area.theme-8 li:hover a,
      .main-menu.home-page li:hover > a,
      .footer-area.service-v1 li a:hover{
    color: #c0392b;
}

.single-pricing-box:hover, .single-service-box:hover{
    border-color:#c0392b;
}

.single-pricing-box:hover .pricing-heading{
    border-bottom-color:#c0392b;
}
.off-canvas-menu a:hover, .footer-area ul.social-links:hover li, .section-icon,
 .footer-area ul.social-links:hover li, .copyright-area-2 a:hover, 
 .footer-area-2 a:hover, .footer-area.same-theme li:hover a, .footer-area.theme-4 a:hover,
  .main-menu li:hover >
 a, .testimonial-icon, .blog-readmore-btn{
    color: #c0392b;
}


.main-menu li:hover li:hover > a, .testimonial-text::after, .active .testimonial-text,
 .cta-area.theme-2 .boxed-btn:hover, .case-study-link-tablecell::after {
    background-color: #c0392b;}

    .website-check-form input[type="submit"], .website-check-form button[type="submit"] {
    background-color: #c0392b;
    border-color: #c0392b;
}