html,body, .homepage-hero-area-4, .single-slide-item{
        min-height: 700px;
}
h1,h2,h3,h4,h5,h6{
    font-weight:700;
}
body{
    font-weight: 300;
    line-height:1.6;
}
.single-slide-item{
    display:table;
    width:100%;
  
}
.slide-item-wrapper{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    width:100%;
    color:#fff;
    font-weight:300;
}

.slide-item-wrapper h2{
     font-weight:700;
    font-size:42px;
    line-height:55px;
    color:#fff;
}
.website-check-form {
	margin-top: 30px;
}
.website-check-form input{
    background-color:#0b3b4b;
    border-color:#0b3b4b;
}

.website-check-form input[type="submit"],
.website-check-form button[type="submit"]{
    background-color:#24d5a1;
    border-color:#24d5a1;
}
.inline-btn {
	color: #24d5a1;
	display: inline-block;
	padding-top: 15px;
}
.video-play-btn {
	display: inline-block;
	background-color: #24d5a1;
	width: 70px;
	height: 70px;
	line-height: 65px;
	border-radius: 50%;
	font-size: 35px;
	padding-left: 5px;
    margin-top:20px;
}

.shadow-img {
        box-shadow: 0 5px 5px #d1d1d1;
}

.single-service-box:hover a.service-readmore-btn {
    color: #24d5a1;}
 
 .single-service-box:hover .service-icon {
    color: #24d5a1;
}
 .single-service-box:hover h3 {
    color: #24d5a1;
}
 .single-service-box:hover {
    border-color: #24d5a1;
}
 .single-pricing-box:hover {
    border-color: #24d5a1;}
    
 .single-pricing-box:hover .pricing-heading {
    border-bottom-color: #24d5a1;}

.pricing-count{
    color:#24d5a1;
}

.blog-thumb-wrapper.single-blog-bg-1{
    background-image: url('../img/single-blog-bg-1.jpg');
}
.blog-thumb-wrapper.single-blog-bg-2{
    background-image: url('../img/single-blog-bg-2.jpg');
}
.blog-thumb-wrapper.single-blog-bg-3{
    background-image: url('../img/single-blog-bg-3.jpg');
}
.blog-thumb-wrapper.single-blog-bg-9{
    background-image: url('../img/single-blog-bg-9.jpg');
}
.blog-thumb-wrapper.single-blog-bg-4{
    background-image: url('../img/single-blog-bg-4.jpg');
}
.blog-thumb-wrapper.single-blog-bg-5{
    background-image: url('../img/single-blog-bg-5.jpg');
}
.blog-thumb-wrapper.single-blog-bg-6{
    background-image: url('../img/single-blog-bg-6.jpg');
}
.blog-thumb-wrapper.single-blog-bg-7{
    background-image: url('../img/single-blog-bg-7.jpg');
}
.blog-thumb-wrapper.single-blog-bg-8{
    background-image: url('../img/single-blog-bg-8.jpg');
}
a .single-blog-box{
    margin:25px 0;
}
.section-padding.padding-bottom-50 {
    padding-bottom: 50px;
}

.case-study-box-style2{
    transition:.3s;
    overflow:hidden;
}
.main-menu li a:hover{
    color: #24d5a1;
}
.footer-area.service-v1 li a:hover{
    color: #24d5a1;
}