.boxed-btn, input[type="submit"], button[type="submit"],
 .main-menu.home-page li:hover li:hover > a,
 .slicknav_btn, 
 .slicknav_nav .slicknav_row:hover,
 .slicknav_nav a:hover, 
  .case-study-wrapper, 
  .owl-dots div.active{
    background-color: #2c3e50;


}

    .main-menu li a:hover,
    .menu-cta h4 span,
    .home-page .menu-cta h4 span,
    .single-service-box:hover a.service-readmore-btn,
     .single-service-box:hover h3, service-icon,
     .single-service-box:hover .service-icon, .pricing-count,
      .footer-area.theme-8 .social-links li:hover a, .footer-area.theme-8 li:hover a,
      .main-menu.home-page li:hover > a {
    color: #2c3e50;
}

.single-pricing-box:hover, .single-service-box:hover{
    border-color:#2c3e50;
}

.single-pricing-box:hover .pricing-heading{
    border-bottom-color:#2c3e50;
}